@media (max-width: 768px) {
    ul {
        flex-direction: column;
    }

    nav {
        height: auto;
    }

    nav a {
        width: 100%;
        padding: 20px 10px;
        color: white;
        text-align: center;
    }

    nav a:hover {
        padding: 20px 10px;
    }

    nav a:nth-child(1) {
        background-color: #FF7672;
    }

    nav a:nth-child(2) {
        background-color: #FFA433;
    }

    nav a:nth-child(3) {
        background-color: #D48EBB;
    }

    nav a:nth-child(4) {
        background-color: #EB7C7D;
    }

    nav a:nth-child(5) {
        background-color: #FFA433;
    }

    nav a:nth-child(6) {
        background-color: #D48EBB;
    }
}