body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 10px;
    overflow: hidden;
}

nav ul {
    display: flex;
    gap: 25px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    height: 100%;
    align-items: center;
}

nav a {
    height: 100%;
    align-content: center;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    border-radius: 30px;
}

/* Наведение на элементы навигации */


nav a:hover {
    padding: 0 16px;
    color: white;
}

nav a:hover:nth-child(1) {
    background-color: #FF7672;
}

nav a:hover:nth-child(2) {
    background-color: #FFA433;
}

nav a:hover:nth-child(3) {
    background-color: #D48EBB;
}

nav a:hover:nth-child(4) {
    background-color: #EB7C7D;
}

nav a:hover:nth-child(5) {
    background-color: #FFA433;
}

nav a:hover:nth-child(6) {
    background-color: #D48EBB;
}